<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Personal website of Dominik Chlouba">
    <meta name="author" content="Dominik Chlouba">

    <title><%= title %></title>

    <link rel="stylesheet" type="text/css" href="css/style.css">

    <script type="text/javascript" src="js/jquery.js"></script>

</head>

<body>

    <header>
        <img src="img/me.jpg">
        <h1>Dominik Chlouba</h1>
        <h2>Front-end &amp; Back-end Developer</h2>
    </header>
    <nav>
        <div id="navLayer"></div>
        <div class="navLeftBtns" id="backButton">
            <img src="img/menuIcons/left-arrow.svg">
        </div>
        <div class="navLeftBtns" id="menuToggle">
            <img src="img/menuIcons/menu.svg">
        </div>
        <div id="searchBox">
            
        </div>
        <menu>
            <div id="menuLayer"></div>
            <div class="menuLeftArrow">
                <img src="img/arrow.svg">
            </div>
            <ul>
                <a class="internalLink" href="index">
                    <li class="menuAbout">
                        <img src="img/menuIcons/people.svg">
                        <p>O mně</p>
                    </li>
                </a>
                <a class="internalLink" href="blog">
                    <li class="menuBlog">
                        <img src="img/menuIcons/blog.svg">
                        <p>Blog</p>
                    </li>
                </a>
                <a class="internalLink" href="galerie">
                    <li class="menuBlog">
                        <img src="img/menuIcons/blog.svg">
                        <p>Galerie</p>
                    </li>
                </a>
                <a class="internalLink" href="kontakt">
                    <li class="menuContact">
                        <img src="img/menuIcons/paper-plane.svg">
                        <p>Kontakt</p>
                    </li>
                </a>
                <a class="internalLink" href="ati">
                    <li class="menuBot">
                        <img src="img/menuIcons/ati.svg">
                        <p>Chat bot</p>
                    </li>
                </a>
                <a class="internalLink" href="faq">
                    <li class="menuWeb">
                        <img src="img/menuIcons/hexagon.svg">
                        <p>FAQ</p>
                    </li>
                </a>
                <a class="internalLink" href="owebu">
                    <li class="menuWeb">
                        <img src="img/menuIcons/hexagon.svg">
                        <p>O webu</p>
                    </li>
                </a>
                <a class="internalLink" href="administrace">
                    <li class="menuAdmin">
                        <img src="img/menuIcons/key.svg">
                        <p>Admin</p>
                    </li>
                </a>
            </ul>
            <div class="menuRightArrow">
                <img src="img/arrow.svg">
            </div>
        </menu>
    </nav>
    <main>
