<% include header.ejs %>

<section>
    <h1>Kdo vlastně <span>jsem?</span></h1>
    <h2>Trošku více informací o mojí maličkosti...</h2>
    <div id="separatorLine"></div>
    <div id="personalInfo">
        <div id="details">
            <p>Jsem nezajímavý člověk se zajímavými nápady u nichž zjistím, že vlastně až tak zajímavé nejsou. Na této malinké planetce v tak veliké galaxii žiji už něco přes 19 let. Jako každá lidská bytost v tomto věku studuji. Přesněji do mě cpou informace na Střední průmyslové škole v Chomutově, kde ve čtvrtém ročníku studuji obor Výpočetní systémy. Ale zcela marně, protože 'garbage collector' je nenasytná mrcha!</p>
            <p>Mým hlavním koníčkem je front-end a back-end vývoj webových stránek. Tedy toho, co vidíte i nevidíte. Pro své osobní potřeby nepoužívám templaty, raději si weby kazím sám...</p>
        </div>
    </div>
</section>
<!--<article id="knowledgeContainer">
    <div class="articleBackgroundLayer"></div>
    <h1>Čím se <span>zabývám?</span></h1>
    <h2>Prakticky mé koníčky...</h2>
    <div id="separatorLine"></div>
    <div class="circle">
        <span>HTML</span>
    </div>
    <div class="circle">
        <span>CSS</span>
    </div>
    <div class="circle">
        <span>JS</span>
    </div>
    <div class="circle">
        <span>NodeJS</span>
    </div>
    <div class="circle">
        <span>PHP</span>
    </div>
    <p>A mnoho dalšího...</p>
</article>
<section>
    <h1>Kde <span>studuji?</span></h1>
    <h2>Nebo kde jsem se vzdělával.</h2>
    <div id="separatorLine"></div>
    <div id="eduContainer">
        <div class="eduTimeAndName">
            <div class="eduTime">
                <p>Září</p>
                <p>2013</p>
            </div>
            <div class="eduTime"></div>
            <div class="eduTime">
                <p>Duben</p>
                <p>2017</p>
            </div>
            <div id="eduShortSepLine"></div>
            <p>Název školy</p>
            <p>SPŠ Chomutov</p>
        </div>
    </div>
    <div id="eduContainer">
        <div class="eduTimeAndName">
            <div class="eduTime">
                <p>Září</p>
                <p>2004</p>
            </div>
            <div class="eduTime"></div>
            <div class="eduTime">
                <p>Červen</p>
                <p>2013</p>
            </div>
            <div id="eduShortSepLine"></div>
            <p>Název školy</p>
            <p>1. ZŠ Kadaň</p>
        </div>
    </div>
</section>-->
<div id="longSepLine"></div>
<section>
    <div class="articleBackgroundLayer"></div>
    <h1>Insta<span>Feed</span></h1>
    <h2>Osobní Instagram profil</h2>
    <div id="separatorLine"></div>
    <div id="instafeed"></div>
    <a href="https://www.instagram.com/dom_chloubic"><button>Přejít na profil</button></a>
</section>
<div id="longSepLine"></div>
<section>
    <h1>Kontaktujte <span>mě!</span></h1>
    <h2>Využijte formulář či sociální sítě</h2>
    <div id="separatorLine"></div>
    <div id="contactOpts">
        <img src="img/contactIcons/003-home-page.svg">
        <p>1. máje 1544 Kadaň, 43201</p>
    </div>
    <div id="contactOpts">
        <img src="img/contactIcons/002-smartphone-call.svg">
        <p>(+420 - CZ) 732413976</p>
    </div>
    <div id="contactOpts">
        <img src="img/contactIcons/001-email-filled-closed-envelope.svg">
        <p>dominicekcz@live.com</p>
    </div>
    <div id="longSepLine"></div>
    <p><a class="internalLink" href="kontakt"><button>Přejít do sekce Kontakt</button></a></p>
</section>

<% include footer.ejs %>